<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" routerLink="" >Indicadores Diarios en Chile</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link disabled" [routerLink]="['/detalleHistorico/uf']">UF</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/detalleHistorico/bitcoin">Bitcoin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/detalleHistorico/imacec">Imacec</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/detalleHistorico/dolar_intercambio">Dolar A</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/detalleHistorico/ipc">IPC</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/detalleHistorico/libra_cobre">LB cobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/detalleHistorico/utm">UTM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/detalleHistorico/dolar">Dolar O</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/detalleHistorico/ivp">IVP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"routerLink="/detalleHistorico/euro">Euro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"routerLink="/detalleHistorico/tpm">TPM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"routerLink="/detalleHistorico/tasa_desempleo">Tasa Desempleo</a>
          </li>
  
        </ul>
      </div>
    </div>
</nav>
